[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyaudio = "*"
openai-whisper = "*"
click = "*"
python-dotenv = "*"
ipython = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.10"
